@import url(./common/sns.css);
@import url(./common/throbbers.css);
@import url(./common/animations.css);
@import url(./common/modal.css);
/** Basic styling **/
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #F5F6F7;
  color: #212529;

  padding: 0;
  margin: 0;

  font-family: "DM Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  overflow-x: hidden;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 500;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a, a::selection {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol, ul {
  padding-left: 2rem;
}

/** Layout **/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  border-bottom: 1px solid #E5E7EB;
  background-color: #fff;
  z-index: 100;
  padding: 0 1.25rem;
}

header .branding {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  align-items: center;
  justify-content: left;

  color: #483DC1;
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 1rem;
}
header .branding .icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  background-color: #483DC1;
  border-radius: 0.375rem;
}
header .controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .user {
  display: flex;
  align-items: center;
  justify-content: right;
}

main {
  position: relative;
}

@media screen and (min-width: 90rem) {
  main {
    width: 90rem;
    margin: 5.5rem auto 1rem auto;
  }
}
@media screen and (max-width: 90rem) {
  main {
    margin: 5.5rem 0.5rem 1rem 0.5rem;
  }
}

.grid {
  display: grid;
  gap: 0;
  transition: grid-template-columns 200ms;
}

.grid > div {
  overflow-x: hidden;
}

.grid > div > .card {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 90rem) {
  .grid  {
    grid-template-columns: 0fr 1fr 2fr 1fr 0fr 0fr;
  }
  .grid.wiz-planning  {
    grid-template-columns: 1fr 2fr 0fr 0fr 0fr 1fr;
  }
  .grid.wiz-planning > .grid-role-editor > *,
  .grid.wiz-planning > .grid-role-tools-editing > *,
  .grid.wiz-planning > .grid-role-tools-reviewing > * {
    display: none;
  }
  .grid.wiz-editing  {
    grid-template-columns: 0fr 1fr 2fr 1fr 0fr 0fr;
  }
  .grid.wiz-reviewing {
    grid-template-columns: 0fr 1fr 2fr 0fr 1fr 0fr;
  }
  .grid.wiz-reviewing > .grid-role-tools-editing > * {
    display: none;
  }

  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 90rem) and (min-width: 64rem) {
  .grid  {
    grid-template-columns: 0fr 16rem 1fr 16rem 0rem 0fr;
  }
  .grid.wiz-planning  {
    grid-template-columns: 1fr 2fr   0fr 0rem  0rem 1fr;
  }
  .grid.wiz-planning > .grid-role-editor > *,
  .grid.wiz-planning > .grid-role-tools-editing > *,
  .grid.wiz-planning > .grid-role-tools-reviewing > * {
    display: none;
  }
  .grid.wiz-editing  {
    grid-template-columns: 0fr 16rem 1fr 16rem 0rem 0fr;
  }
  .grid.wiz-reviewing  {
    grid-template-columns: 0fr 16rem 1fr 0rem  16rem 0fr;
  }
  .grid.wiz-reviewing > .grid-role-tools-editing > * {
    display: none;
  }

  .card-group {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 64rem) {
  .grid {
    grid-template-columns: auto;
  }

  .grid.wiz-planning > .grid-role-editor,
  .grid.wiz-planning > .grid-role-tools-editing,
  .grid.wiz-planning > .grid-role-tools-reviewing {
    display: none;
  }

  .grid.wiz-reviewing > .grid-role-tools-editing {
    display: none;
  }

  .card-group {
    grid-template-columns: auto;
  }
}
/** Sneak **/
.grid.wiz-planning .hide-in-planning {
  display: none;
}

.grid.wiz-editing .hide-in-editing {
  display: none;
}

.grid.wiz-reviewing .hide-in-reviewing {
  display: none;
}

.grid .centering {
  display: grid;
  justify-content: center;
}

/** general purpose horizontal accordions **/
.v-accordion {
  display: grid;
  grid-template-rows: min-content 0fr;
  transition: grid-template-rows 200ms;
}
.v-accordion.open {
  grid-template-rows: min-content 1fr;
}
.v-accordion > .title:hover {
  background-color: #F5F6F7;
}
.v-accordion > .body {
  display: grid;
  visibility: hidden;
  overflow: hidden;
}
.v-accordion.open > .body {
  visibility: visible;
}

/** forms **/
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #E5E7EB;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/** button **/
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn.btn-secondary {
  color: #483DC1;
  border: 1px solid #483DC1;
  background-color: #fff;
}
.btn.btn.btn-secondary-danger {
  color: #dc3545;
  border: 1px solid #dc3545;
  background-color: #fff;
}

.btn.btn-primary,
.btn.btn-secondary.active {
  color: #fff;
  border: 1px solid #483DC1;
  background-color: #483DC1;
}

.btn.btn-danger,
.btn.btn-secondary-danger.active {
  color: #fff;
  border: 1px solid #dc3545;
  background-color: #dc3545;
}

.btn-group {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group>.btn:first-child {
  margin-left: 0;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group, .btn-group-vertical .btn+.btn, .btn-group-vertical .btn+.btn-group, .btn-group-vertical .btn-group+.btn, .btn-group-vertical .btn-group+.btn-group {
  margin-left: -1px;
}


/** badges **/
.text-bg-info {
  color: #000 !important;
  background-color: rgba(13, 202, 240, 1) !important;
}
.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
}

.badge.clickable {
  cursor: pointer;
}
/** card **/
.card-group {
  position: relative;
  display: grid;
  gap: 1rem;
}

.card {
  border-radius: 0.75rem;
  border: 1px solid #E5E7EB;
  background-color: #fff;
  margin-bottom: 1rem;
  overflow: hidden;
}
.card > section > .title,
.card > section > .body {
  border-top: 1px solid #E5E7EB;
}

.card > section:first-child > div:first-child {
  border-top: 1px solid transparent;
}
.card > section > .title {
  padding: 0.75rem 0.75rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.card > section > .body > .contents {
  padding: 0.75rem 1rem;
}

.card > section > .body.alert.alert-lite > .contents {
  color: #20b9d7;
}
.card > section > .body.alert.alert-info > .contents {
  background-color: #cff4fc;
  color: #055160;
  border-color: #9eeaf9;
}
.card > section > .body.alert.alert-warning > .contents {
  background-color: #fff3cd;
  color: #664d03;
  border-color: #ffe69c;
}

.card > section > .body > .contents.list {
  padding: 0;
  overflow-y: scroll;
  height: 250px;
}
.card > section > .body > .contents.list > .item {
  padding: 1rem 1rem;
  cursor: pointer;
}
.card > section > .body > .contents.list > .item:hover {
  background-color: #F5F6F7;
}

/** sp: personas list **/
.card > section > .body > .contents.personas-toolbar {

}

.card > section > .body > .contents.personas-list {
  padding: 0;
  overflow-y: scroll;
  height: 250px;
}

.card > section > .body > .contents.personas-list .persona {
  padding: 0;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.card > section > .body > .contents.personas-list .persona:hover {
  background-color: #F5F6F7;
}

.persona {
  display: grid;
  grid-template-columns: min-content 1fr;
}
.persona > .avatar {
  position: relative;
  margin: 1rem;
  width: 40px;
  height: 40px;

  z-index: 10;
}

.persona > .avatar:before {
  content: "";

  display: block;
  padding: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100px;
  border: 1px solid transparent;
  background-color: #aaa;
}
.persona > .avatar > .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100px;
  padding-left: 50px;
  display: none;

  border-radius: 0.375rem;
  border: 1px solid #aaa;
  background-color: #fff;
}
.persona > .avatar:hover > .info {
  display: block;
}

.persona > .body {
  padding: 1rem 0;
}


